.home,
.recipeGen,
.account {
  text-decoration: none;
  background: #646cff;
  color: #eceaea;
  padding: 0.5rem 1rem;
  transition: 0.25s ease;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

.home:hover,
.recipeGen:hover,
.account:hover {
  background-color: #ffffff;
  color: #646cff;
}

.home {
  border-radius: 8px 0 0 8px;
}

.account {
  border-radius: 0 8px 8px 0;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controls input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eceaea;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.meals {
  display: flex;
}

h1 {
  font-size: 1rem;
}

article img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 18rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  border-radius: 10px;
}

article ul {
  margin-bottom: 1rem;
}

article a {
  background-color: #646cff;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #eceaea;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
}

article a:hover {
  border: 1px solid #646cff;
  background-color: #ffffff;
  color: #646cff;
}