.wrapper {
  background-color: white;
  /* min-height: 100vh; */
  margin-top: 2rem;
  box-shadow: 0px -21px 13px -21px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}
.container {
  margin: auto;
  padding: 10px 1rem 1rem 1rem;
}

.Title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.warning {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 0.375rem;
  text-align: center;
  margin-bottom: 1rem;
}

.sides {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.left {
}

.nutrients-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  border: 2px solid gray;
  padding: 4rem 2rem 2rem 2rem;
  border-radius: 6px;
}


.bold-text {
  font-weight: 700;
  font-size: 26px;
}

.regular-text {
  font-size: 12px;
  font-weight: 400;
}

.calorie-summary {
  text-align: left;
  margin-bottom: 2rem;
}

.calorie-summary p {
  font-weight: 100;
  margin: 0.5rem;
}

.macro-list {
  display: flex;
  gap: 3rem;
}

.macro-item .progress progress {
  appearance: none;
  width: 80px;
  height: 8px;
}

.progress {
  display: flex;
  margin: 0.5rem 0;
}

.progress progress::-webkit-progress-bar {
  background-color: #eceaea;
  border-radius: 6px;
}

.progress progress[value]::-webkit-progress-value {
  background-color: #646cff;
  border-radius: 6px;
  transition: width 0.5s ease;
}

.right {
  display: flex;
  flex-direction: column;
}

.meals-container {
  margin-bottom: 2rem;
  border: 2px solid gray;
  border-radius: 6px;
  height: 460px;
  min-width: 400px;
  overflow: auto;
}

.foods-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.foods-title::after {
  content: "";
  min-width: 60px;
  padding-top: 4px;
  background-color: #646cff;
}

.meal {
  display: flex;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
  transition: transform 0.3s ease;
}

.meal-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 3rem;
}

.meal-top-section {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  gap: 0.4rem;
}

.meal-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 0;
}

.meal-bottom-section {
}

.meal-nutrients {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.meal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.meal-btn {
  background-color: greenyellow;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  font-weight: 600;
}

.meal-btn:hover {
  background-color: green;
}

.meal-quantity {
  margin: 0 0.5rem;
}

.meal-edit-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.meal-edit-btn {
  background-color: blue;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}

.meal-edit-btn:focus {
  outline: none;
}

.meal-edit-btn:hover {
  background-color: red;
}

.input-error {
  border: 2px solid red;
}

.icon-warning {
  margin-right: 0.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-name {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.food-name .split {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.food-name input {
  text-align: left;
  flex: 1;
}

.form-inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  padding-bottom: 3rem;
}

.form-inputs div {
  margin-bottom: 0.5rem;
}

.form-inputs label {
  font-weight: 600;
  color: #525252;
  display: flex;
}

.form-inputs .item {
  display: flex;
  text-align: left;
  width: 200px;
}

.quantity-Num {
  padding: 0.5rem 1.5rem;
  border: 1px solid #eceaea;
  border-radius: 6px;
  margin: 0 0.5rem;
}

.quantity-Add, .quantity-Take {
  background-color: #fff;
  transition: 0.25s ease;
}

.quantity-Add:active, .quantity-Take:active {
  color: #646cff;
}

.quantity-Add:focus, .quantity-Take:focus {
  outline: none;
}

.item {
  scroll-padding-top: 0.5rem;
  scroll-padding-bottom: 0.5rem;
  scroll-padding-left: 0.75rem;
  scroll-padding-right: 0.75rem;
  border-radius: 4px;
  outline: 1px solid #eceaea;
  padding: 0.5rem;
  border: none;
  transition: 0.15s ease;
}

.item:hover {
  outline: 1px solid #525252;
}

.item:focus {
  outline: 2px solid #646cff;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn {
  background-color: #646cff;
  color: white;
  padding: 1.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  outline: none;
  transition: 0.25s ease;
}

.btn:hover {
  background-color: white;
  color: #646cff;
}

.btn-addFood {
  padding: 0.5rem 5rem;
}
